/* For top navigation bar */
.topBar {
  display: flex !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.topBar div {
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  color: white !important;
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Push last div (log in/sign up) to the right end */
.topBar div:last-child {
  margin-left: auto;
  margin-right: 2%;
}

.middle_Container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* For footer bar */
.footer {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.footer div {
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white !important;
  font-size: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bar_container {
  display: flex;
}

.bar {
  background-color: #535bf2;
  width: 1%;
  height: 100%;
  margin-left: 1%;
  transform: skewX(-148deg);
}

.contactContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.contactDesc {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, darkblue, gold);
  border-radius: 25px;
  padding: 1rem;
  margin-top: 1rem;
  width: 97%;
}

.locations {
  background: linear-gradient(to right, slateblue, maroon);
  border-radius: 25px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 99%;
}

.rgstr_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_new {
  display: flex;
  flex-direction: column;
  font-family: cursive;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
  flex-grow: 0;
  width: 100%;
  height: 80%;
  justify-content: center;
}

.register_new select {
  margin-left: 1rem;
}

.map_container {
  display: flex;
  flex-direction: row;
  column-gap: 8%;
  justify-content: center;
}

.frame-map {
  background: linear-gradient(45deg, tomato, grey);
  display: flex;
  flex-direction: column;
  width: 15%;
  align-items: center;
  border-radius: 5%;
  padding: 1%;
  border: 2px black outset;

  iframe {
    width: 80%;
    height: 40%;
    margin-top: 8%;
    border: 2px solid black;
  }

  h3 {
    margin: 4% 1%;
  }

  p {
    margin: 4% 1%;
    text-align: center;
  }
}

.assist {
  display: flex;
  padding: 2%;
  background: linear-gradient(to right, red, white);
  border: 2px white solid;

  div {
    display: flex;
  }

  div:first-child {
    flex-direction: column;

    h3 {
      margin: 0% 0%;
    }
  }

  div:last-child {
    width: 35%;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:1100px) {
      min-width: 35%;
    }

    button {
      height: 39%;
      width: 46%;
      font-size: 90%;
      background: linear-gradient(to right, #1C1C1E, darkgreen);
    }
  }
}

.label {
  text-align: right;
  width: 20vw;
}

.quote {
  min-height: fit-content;
  padding: 3%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: white;
  border-radius: 100px;
  opacity: 70%;
  margin-top: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;

  img {
    margin-top: 2rem;
    width: auto;
    height: 40rem;
  }
}

.zumba {
  min-height: fit-content;
  padding: 1%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  border-radius: 3rem;
  opacity: 90%;
  margin-top: 2%;
}

.crossfit {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 1.5rem;
  width: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 85%;
  margin-top: 1rem;

  div {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: papayawhip;

    .desc {
      display: flex;
      flex-direction: column;
      width: 68vw;
      height: fit-content;
      justify-content: center;
      align-items: center;
      border: 0px;
    }

    .scroll {
      width: 30vw;
      justify-content: center;
      align-items: center;
      border: 0px;
    }
  }

}

.gym {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  opacity: 85%;
  padding: 1%;
  border-radius: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  padding: 3%;
  background-color: #f4f4f4;
  border-radius: 10px;
  font-size: 125%;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
  }

  button {
    background-color: blue;
  }

  button:hover {
    background-color: #ccc;
  }

  table {
    display: flex;
    flex-direction: column;

    tr {
      width: 100%;
      display: flex;
      margin-top: 2%;

      td:first-child {
        display: flex;
        justify-content: flex-end;
        text-align: right;
        margin-right: 2%;

      }

      td:last-child {
        display: flex;
        width: 70%;
        justify-content: flex-start;

        input {
          width: 70%;
        }
      }
    }
  }

  .register {
    display: flex;
    flex-direction: row;
    color: black !important;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    div {
      font-size: small;
      color: black !important;
      display: flex;
      align-items: center;

      a {
        color: black;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
      }

      a:hover {
        color: cornflowerblue;
      }

      /* div:last-child {
        display: flex;
        text-align: right;
      } */
    }
  }
}



.login_form_new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 24rem;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;

  .warning {
    color: red;
    font-size: 67%;
    text-align: right;
  }

  div {
    flex-grow: 1;
  }

  button {
    background-color: brown;
    color: black
  }

  button:hover {
    background-color: darkgreen;
  }
}



.z_scroll {
  min-height: fit-content;
  width: 100vw;
  background-color: #535bf2;
  border-radius: 100px;
  overflow-x: auto;
}

.generateQuote {
  background-color: white;
  color: blue;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
}

.generateQuote:hover {
  background-color: blue;
  color: white;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: burlywood;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

.form_container {
  width: 100%;
  background: linear-gradient(169deg, red, black);
  opacity: 95%;
  display: flex;
  flex-grow: 1;

  .form_info {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .socials {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 2%;

      @media screen and (max-width:1100px) {
        div {
          min-width: 16%;
        }
      }

      div {
        display: flex;
        width: 7%;
        height: 85%;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    h2 {
      margin-bottom: 0rem;
    }

    .ctn {
      max-width: 23%;
      font-size: 80%;

      @media screen and (max-width:1100px) {
        min-width: 45%;
      }
    }

    .btn2 {
      display: flex;
      justify-content: flex-start;
      margin-top: 3%;

      @media screen and (max-width:1200px) {
        button {
          min-width: 95%;
          min-height: 93%;

          p {
            margin: 1%;
          }

          h4 {
            margin: 4% 1%;
          }

          a {
            margin: 3.7% 1%;
          }
        }
      }

      button {
        width: 60%;
        height: 93%;
        display: flex;
        flex-direction: column;
        background-color: black;

        p {
          margin: 1%;
          color: white;
        }

        h4 {
          margin: 4% 1%;
          color: white;
        }

        a {
          margin: 3.7% 1%;
          color: white;
        }
      }
    }
  }

  .form {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-left: 2px white solid;

    button {
      width: 26rem;
      margin-top: 2rem;
    }

    .btn {
      display: flex;
      justify-content: space-around;
    }
  }

  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  table {
    flex-grow: 0.2;

    tr {
      font-family: monospace;
      font-size: 185%;
      color: white;
    }

    input {
      width: 20rem;
      height: 2rem;
    }
  }

}

.rvw_container {
  display: flex;
  flex-direction: row;

  .take {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, red, transparent);

    .plot {
      /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHoGN2mfosWmhlfFHjxXId0n37qh_zYpeBxQ&s); */
      width: 30%;
      border: 2px black outset
    }

    .inpt {
      width: 70%;
      border: 2px black inset;

      .str-1 {
        width:20%;
        background-color: white;
      }
    }
  }

}